/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of CSS reset*/

/*Start of brand styles*/
:root {
  --yellow: #f6d64a;
  --teal: #55bcd5;
  --purple: #9b26b0;
  --blue: #499bd2;
  --darkgray: #222222;
  --lightgray: #eaeaea;
  --white: #ffffff;
  --black: #000000;
}
#skip {
  position: absolute;
  left: 50%;
  transform: translateY(-250%);
  transition: transform 0.3s;
}
a, button, form, h4, input, nav, p, q, select, small, span, ul {
  font-family: Montserrat, sans-serif;
}
h1, h2, h3 {
  font-family: Molle, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5em;
  font-variation-settings: "wght" 600;
  text-transform: uppercase;
}
#about h4 {
  font-size: 1.5rem;
}
q {
  font-style: italic;
  font-size: 1.25rem;
}
q::before {
  content: "“";
}
q::after {
  content: "”";
}
h1 + p {
  font-size: 1.5rem;
}
h2 + p {
  font-size: 1.5rem;
}
h4 + p {
  font-size: 1.25rem;
}
span {
  font-size: 1rem;
  font-style: italic;
}
label, legend {
  text-transform: uppercase;
  font-weight: 550;
}
.radio-label {
  text-transform: none;
  font-weight: 400;
}
header + nav{
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
li a{
  font-variation-settings: "wght" 600;
  color: var(--black);
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: var(--black);
}
#plan{
  background-color: var(--yellow);
  justify-content: center;
}
#about{
  background-color: var(--blue);
}
#plan section{
  background-color: var(--white);
  border: .3rem solid var(--blue);
  border-radius: 1rem;
}

/*End brand styles*/

/*start mobile layout styles*/
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, body, #img-grid, section, article{
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "logo menu"
  "header header"
  "intro intro"
}
#logo{
  grid-area: logo;
}
h1{
  grid-area: header;
  padding-top: 2rem;
}
h1 + p {
  grid-area: intro;
}
h2{
  padding-top: 3rem;
}
h3{
  padding-top: 1rem;
}
/*navigation*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
#menu-toggle {
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-area: menu;
  width: auto;
}
#toggle + label{
  text-decoration: none;
  background-color: var(--yellow);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  grid-area: menu;
  width: auto;
  padding: 1rem 4rem;
  font-size: 1.5rem;
}
#toggle:checked ~ label{
  background-color: var(--black);
  color: var(--white);
  width: 100%;
}
#toggle + label:hover {
  background-color: var(--blue);
  color: var(--white);
}
#toggle {
  cursor: pointer;  
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  display: flex;
  flex: 1;
}
#menu-toggle ul {
  position: absolute;

  background-color: var(--blue);
  width: 100%;
   
  right: -100%;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
#menu-toggle ul{
  display: flex;
  flex-direction: column;
}
#menu-toggle ul li{
  padding: 1.5rem;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
#toggle:checked ~ ul {
  right: 0;
}
/*end navigation*/
#img-grid{
  padding-top: 1rem;
}
#img-grid img{
  width: 100%;
}
#plan section{
  padding: 1rem;
 
  justify-self: center;
  justify-content: center;
  width: 270px;
  height: 270px;
}
section div{
  justify-self: center;
}
#testimonials div section{
  display: grid;
  
  justify-items: center;
}
#testimonials div section q{
  padding: 0 6rem 0;
}
/*end mobile layout styles*/


/*Start tablet stlyes*/
@media (min-width: 768px) {

}
/*End tablet stlyes*/


/*Start desktop stlyes*/
@media (min-width: 1366px){

}
/*End desktop stlyes*/